{% extends "base.html" %}

{% block content %}
<main class="px-3 text-white">
    <p class="lead"><b>miHoYo</b> - китайская компания, занимающаяся разработкой компьютерных игр. Вне Китая miHoYo работает под брендом
        HoYoverse. В miHoYo, основанной в 2012 году тремя студентами из Шанхайского университета транспорта, в настоящее
        время работает 5000 человек. Штаб-квартира и офисы miHoYo находятся в Шанхае, Китай. Дочерние компании miHoYo —
        Shanghai miHoYo Phantom Iron Technology Co., Ltd и Shanghai miHoYo Schicksal Technology Co., Ltd — отвечают за
        поддержку сайтов miHoYo, рекламу и тому подобное; зарегистрированная в Сингапуре компания Cognosphere Pte. Ltd.
        служит издателем игр miHoYo вне Китая.

        Наиболее известным продуктом miHoYo является игра Genshin Impact, выпущенная в 2020 году ролевая игра с открытым
        миром — одна из наиболее коммерчески успешных мобильных игр в истории. В разные годы miHoYo разработала такие
        игры, как Houkai Gakuen 2 и Honkai Impact 3rd: если первые игры miHoYo были известны лишь в Китае, то Honkai
        Impact 3rd и Genshin Impact удалось завоевать успех и на Западе.</p>

</main>
{% endblock %}